body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* CABEÇALHO */
.shop-container {
  width: 100vw;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.068);
}
.nav {
  display: flex;
  margin: 30px 0px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
}
.list-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 8px;
}
.list-nav .todos-produtos {
  background: #12b886;
  color: white;
  font-weight: 900;
  transition: all 0.8s;
}
.list-nav .todos-produtos:hover {
  background-color: #12b88636;
  color: #000000a2;
  font-weight: 900;
}
.list-nav li {
  padding: 12px;
  background-color: #12b88636;
  border-radius: 5px;
  border: 1.5px solid rgba(18, 184, 134, 0.05);
  color: #12b886;
  cursor: pointer;
  transition: all 0.8s;
}
.list-nav li:hover {
  color: white;
  background-color: #12b886;
}
.pesquise {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
}
.pesquise input {
  margin-left: 5px;
  height: 35px;
  width: 196px;
}
.pesquise #button {
  list-style: none;
  background: #12b886c9;
  height: 41px;
  width: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
}
.pesquise #button:hover {
  border: 1px solid black;
}
/* CONTEÚDO */
.container-main {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#container {
  display: flex;
  margin-bottom: 50px;
  margin-left: 10px;
}

.container-produto {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.container-produto li {
  min-height: 360px;
  max-width: 265px;
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 8px;
  transition: all 0.5s;
}
.container-produto li:hover {
  border: 1px solid rgba(0, 0, 0, 0.842);
}
.container-produto img {
  width: 262.5px;
  height: 200px;
}
.info-produto {
  padding: 10px 4px;
}
.info-produto h3 {
  font-weight: 800;
}
.info-produto p {
  color: grey;
  padding: 10px 0px;
}
.info-produto h4 {
  font-size: 0.9rem;
  font-weight: 900;
}

/*Cart*/
aside {
  width: 250px;
  margin-left: 10px;
}
#titulo {
  border-radius: 8px 8px 0px 0px;
  background-color: #12b886;
  color: white;
  font-size: 1.4rem;
  font-weight: bolder;
  padding: 10px;
  display: flex;
}
#titulo img {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}
#addCart {
  height: 200px;
  background-color: rgb(209, 209, 209);
  padding-top: 5px;
  overflow-y: scroll;
  width: 250px;
}
#addCart::-webkit-scrollbar {
  width: 8px;
}
#addCart::-webkit-scrollbar-thumb {
  background-color: #24242498;
  border-radius: 5px;
}
.list-cart {
  margin: 0px 0px 5px 5px;
  display: flex;
  padding: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.541);
  width: 200px;
}
.list-cart img {
  width: 80px;
  height: 60px;
}
.info-produto {
  margin-left: 10px;
  padding: 3px;
}
.info-produtoCart {
  margin-left: 5px;
}
.info-produtoCart h3 {
  font-size: 0.9rem;
  font-weight: 800;
}
.info-produtoCart h4 {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 2px;
}
.info-produtoCart button {
  font-size: 0.7rem;
  margin-top: 5px;
}
#valor {
  color: black;
}

#final {
  background-color: #242424a2;
  color: white;
  height: 70px;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#final p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.finalCart {
  display: flex;
  justify-content: space-between;
}
.componentes {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 220px;
  display: inline-block;
  direction: ltr;
}
@media (max-width: 530px) {
  #container {
    display: flex;
    flex-direction: column;
  }
  .container-produto {
    margin-bottom: 10px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.hidden {
  display: none;
}
